<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410169982823-tnavfsig08s8clc65n1l8hi3j1se1qku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410169982823-tnavfsig08s8clc65n1l8hi3j1se1qku</string>
	<key>API_KEY</key>
	<string>AIzaSyBYl1zBq_YcUTbgHtnkzyMUWgdoX8ad2HU</string>
	<key>GCM_SENDER_ID</key>
	<string>410169982823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vasyltsov.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-51d46</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-51d46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410169982823:ios:fd0abb6836b146e5fd39c2</string>
</dict>
</plist>